h1 {
    margin: 0 0 0 20px;
    font-family: "Merienda", cursive;
    font-weight: 900;
    font-size: 300%;
    background: radial-gradient(ellipse, rgba(255, 255, 0, 0.5), rgb(255, 94, 0));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#rotateLeft {
    transform: rotate(350deg);
}

#rotateRight {
    transform: rotate(10deg);
}